<% layout('layout') %>

<div>
  <div class="d-flex my-1 align-items-center">
    <h5><%= title %></h5>
    <a class="ms-auto" href="/categories/<%= categoryId %>/urgencies">Back</a>
  </div>
  <div>
    <% if (tasks.length > 0) { %>
    <ul>
      <% tasks.forEach(task => { %>
      <li>
        <strong><%= task.name %></strong><br />
        Description: <%= task.description %><br />
        Urgency: <%= task.urgency %><br />
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No tasks found for this urgency.</p>
    <% } %>
  </div>
</div>
